In [381]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [382]:
train = pd.read_csv("train.csv")

In [383]:
train.head()

,customer_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed
0,customer_id_39075,31,admin.,married,university.degree,no,no,no,cellular,dec,...,3,999,1,failure,-2.97,46.3565,-23.10,1.711,5023.5,0
1,customer_id_34855,31,technician,single,university.degree,no,no,no,telephone,may,...,4,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0
2,customer_id_7107,47,blue-collar,married,basic.6y,unknown,yes,no,telephone,may,...,2,999,0,nonexistent,1.13,46.9970,-25.48,5.862,5191.0,0
3,customer_id_31614,36,services,married,university.degree,no,no,no,cellular,may,...,1,999,1,failure,-1.77,46.4465,-32.34,2.329,5099.1,0
4,customer_id_34878,34,admin.,single,high.school,no,no,no,cellular,may,...,9,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0

In [384]:
train.shape

(28831, 22)

In [385]:
test = pd.read_csv("test.csv")

In [386]:
test.head()

,customer_id,age,job,marital,education,default,housing,loan,contact,month,...,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,customer_id_32884,59,technician,married,high.school,no,no,yes,cellular,may,...,6.183333,1,999,1,failure,-1.77,46.4465,-32.34,2.301,5099.1
1,customer_id_3169,57,unknown,married,unknown,unknown,yes,no,telephone,may,...,4.750000,2,999,0,nonexistent,1.13,46.9970,-25.48,5.862,5191.0
2,customer_id_32206,35,blue-collar,married,basic.9y,no,no,no,cellular,may,...,0.866667,1,999,1,failure,-1.77,46.4465,-32.34,2.315,5099.1
3,customer_id_9403,38,admin.,married,high.school,no,no,no,telephone,jun,...,5.916667,4,999,0,nonexistent,1.43,47.2325,-29.26,5.969,5228.1
4,customer_id_14020,29,housemaid,married,high.school,no,yes,no,cellular,jul,...,3.150000,2,999,0,nonexistent,1.43,46.9590,-29.89,5.965,5228.1

In [156]:
test.shape

(12357, 21)

In [387]:
sample_submission = pd.read_csv("sample_submission.csv")

In [388]:
sample_submission.head()

         customer_id  subscribed
0  customer_id_32884           1
1   customer_id_3169           1
2  customer_id_32206           1
3   customer_id_9403           1
4  customer_id_14020           1

In [389]:
sample_submission.shape

(12357, 2)

In [160]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28831 entries, 0 to 28830
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     28831 non-null  object
 1   age             28831 non-null  int64
 2   job             28831 non-null  object
 3   marital         28831 non-null  object
 4   education       28831 non-null  object
 5   default         28831 non-null  object
 6   housing         28831 non-null  object
 7   loan            28831 non-null  object
 8   contact         28831 non-null  object
 9   month           28831 non-null  object
 10  day_of_week     28831 non-null  object
 11  duration        28831 non-null  float64
 12  campaign        28831 non-null  int64
 13  pdays           28831 non-null  int64
 14  previous        28831 non-null  int64
 15  poutcome        28831 non-null  object
 16  emp_var_rate    28831 non-null  float64
 17  cons_price_idx  28831 non-null  float64
 18  cons_conf_idx   28831 non-null  float64
 19  euribor3m       28831 non-null  float64
 20  nr_employed     28831 non-null  float64
 21  subscribed      28831 non-null  int64
dtypes: float64(6), int64(5), object(11)
memory usage: 4.8+ MB

In [161]:
train.describe()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed
count,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000,28831.000000
mean,42.011203,4.297919,2.575769,963.215844,0.172592,0.113202,46.788632,-28.360564,4.623599,5167.011880,0.112761
std,10.450128,4.336882,2.752303,185.077567,0.494338,1.570978,0.289847,3.244405,1.735202,72.542598,0.316305
min,19.000000,0.000000,1.000000,0.000000,0.000000,-3.370000,46.100500,-35.560000,1.636000,4963.600000,0.000000
25%,34.000000,1.700000,1.000000,999.000000,0.000000,-1.770000,46.537500,-29.890000,2.346000,5099.100000,0.000000
50%,40.000000,3.000000,2.000000,999.000000,0.000000,1.130000,46.874500,-29.260000,5.859000,5191.000000,0.000000
75%,49.000000,5.300000,3.000000,999.000000,0.000000,1.430000,46.997000,-25.480000,5.963000,5228.100000,0.000000
max,100.000000,81.966667,43.000000,999.000000,7.000000,1.430000,47.383500,-18.830000,6.047000,5228.100000,1.000000

# Make a copy of the dataset

In [390]:
train_copy = train.copy()

In [391]:
train_copy.head()

,customer_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed
0,customer_id_39075,31,admin.,married,university.degree,no,no,no,cellular,dec,...,3,999,1,failure,-2.97,46.3565,-23.10,1.711,5023.5,0
1,customer_id_34855,31,technician,single,university.degree,no,no,no,telephone,may,...,4,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0
2,customer_id_7107,47,blue-collar,married,basic.6y,unknown,yes,no,telephone,may,...,2,999,0,nonexistent,1.13,46.9970,-25.48,5.862,5191.0,0
3,customer_id_31614,36,services,married,university.degree,no,no,no,cellular,may,...,1,999,1,failure,-1.77,46.4465,-32.34,2.329,5099.1,0
4,customer_id_34878,34,admin.,single,high.school,no,no,no,cellular,may,...,9,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0

In [392]:
train = train_copy

# Extracting the numerical Value

In [22]:
# categorical_feat = [feat for feat in train.columns if train[feat].dtype == 'O']
# categorical_feat

# Dropping features not needed for the model

In [23]:
# train = train.drop(columns = 'customer_id')

In [24]:
# train, test = train.drop(columns = 'job'), test.drop(columns = 'job')

In [25]:
# train , test = train.drop(columns = 'education'), test.drop(columns = 'education')

In [26]:
# train, test = train.drop(columns = 'default'), test.drop(columns = 'default')

In [27]:
# train, test = train.drop(columns = 'housing'), test.drop(columns = 'housing')

In [28]:
# train, test = train.drop(columns = 'loan'), test.drop(columns = 'loan')

In [29]:
# train , test = train.drop(columns = 'contact'), test.drop(columns = 'contact')

In [30]:
# train, test = train.drop(columns = 'month'), test.drop(columns = 'month')

In [31]:

# train = train.drop(columns = 'day_of_week')

In [393]:
train = train.drop(columns=['customer_id','pdays', 'month'])

In [181]:
print(train.columns)
print( train.shape)

Index(['age', 'job', 'marital', 'loan', 'day_of_week', 'duration', 'campaign',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'subscribed'],
      dtype='object')
(28831, 15)

In [394]:
test = test.drop(columns=['customer_id','pdays', 'month'])

In [287]:
print(test.columns)
print(test.shape)

Index(['age', 'job', 'marital', 'default', 'loan', 'day_of_week', 'duration',
       'campaign', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx'],
      dtype='object')
(12357, 13)

In [395]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28831 entries, 0 to 28830
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             28831 non-null  int64
 1   job             28831 non-null  object
 2   marital         28831 non-null  object
 3   education       28831 non-null  object
 4   default         28831 non-null  object
 5   housing         28831 non-null  object
 6   loan            28831 non-null  object
 7   contact         28831 non-null  object
 8   day_of_week     28831 non-null  object
 9   duration        28831 non-null  float64
 10  campaign        28831 non-null  int64
 11  previous        28831 non-null  int64
 12  poutcome        28831 non-null  object
 13  emp_var_rate    28831 non-null  float64
 14  cons_price_idx  28831 non-null  float64
 15  cons_conf_idx   28831 non-null  float64
 16  euribor3m       28831 non-null  float64
 17  nr_employed     28831 non-null  float64
 18  subscribed      28831 non-null  int64
dtypes: float64(6), int64(4), object(9)
memory usage: 4.2+ MB

# Encoding marital status

In [37]:
# from sklearn.preprocessing import LabelEncoder

In [38]:
# encoder = LabelEncoder()

In [39]:
# train['marital'] = encoder.fit_transform(train['marital'])

In [396]:
train = pd.get_dummies(train)

In [397]:
train.head()

,age,duration,campaign,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed,...,contact_cellular,contact_telephone,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,31,1.283333,3,1,-2.97,46.3565,-23.10,1.711,5023.5,0,...,1,0,0,1,0,0,0,1,0,0
1,31,0.200000,4,0,-1.77,46.4465,-32.34,2.252,5099.1,0,...,0,1,1,0,0,0,0,0,1,0
2,47,4.616667,2,0,1.13,46.9970,-25.48,5.862,5191.0,0,...,0,1,0,0,1,0,0,0,1,0
3,36,1.166667,1,1,-1.77,46.4465,-32.34,2.329,5099.1,0,...,1,0,0,0,1,0,0,1,0,0
4,34,19.683333,9,0,-1.77,46.4465,-32.34,2.252,5099.1,0,...,1,0,1,0,0,0,0,0,1,0

In [398]:
X = train.drop(columns = 'subscribed')

In [399]:
y =  train['subscribed']

# Splitting the dataset into Train and Test

In [400]:
#Importing split module
from sklearn.model_selection import train_test_split

In [402]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [46]:
# X_train

# Building the Model KNN

In [403]:
#import knn module
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [404]:
classifier = KNeighborsClassifier()

In [405]:
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [406]:
classifier_pred = classifier.predict(X_test)

In [407]:
classifier_pred.shape

(7208,)

In [408]:
test = pd.get_dummies(test)

In [371]:
classifier_pred2 = classifier.predict(test)

ValueError: Incompatible dimension for X and Y matrices: X.shape[1] == 52 while Y.shape[1] == 40

In [330]:
classifier_pred2.shape

(12357,)

In [331]:
classifier_pred2

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [332]:
sample_submission.head()

         customer_id  subscribed
0  customer_id_32884           1
1   customer_id_3169           1
2  customer_id_32206           1
3   customer_id_9403           1
4  customer_id_14020           1

In [333]:
sub = sample_submission.copy()

In [334]:
sub.subscribed = classifier_pred2

In [335]:
sub.to_csv(r'C:\Users\user\Desktop\kaggle_competition\9th_submission.csv', index= False)

In [336]:
from sklearn.metrics import f1_score

In [337]:
cl_sc = f1_score(y_test,  classifier_pred)

In [338]:
cl_sc

0.5204081632653061

In [341]:
classifier_pred2.shape

(12357,)

In [340]:
y_test.shape

(8650,)

In [57]:
from

ValueError: Found input variables with inconsistent numbers of samples: [7208, 12357]

# Build Support Vector Machine Model

In [377]:
from sklearn.svm import SVC

In [378]:
svm_classifier = SVC(kernel = 'linear')

In [379]:
svm_classifier.fit(X_train, y_train)

SVC(kernel='linear')

In [380]:
svm_pred = svm_classifier.predict(test)

ValueError: X.shape[1] = 52 should be equal to 40, the number of features at training time

In [346]:
svm_pred.shape

(12357,)

In [347]:
sec_svm = sample_submission.copy()

In [348]:
sec_svm.subscribed = svm_pred

In [216]:
sec_svm

             customer_id  subscribed
0      customer_id_32884           0
1       customer_id_3169           0
2      customer_id_32206           0
3       customer_id_9403           0
4      customer_id_14020           0
...                  ...         ...
12352  customer_id_15908           0
12353  customer_id_28222           1
12354  customer_id_14194           0
12355  customer_id_19764           0
12356  customer_id_26052           0

[12357 rows x 2 columns]

In [349]:
sec_svm.to_csv(r'C:\Users\user\Desktop\kaggle_competition\10th_submission.csv', index = False)

In [219]:
from sklearn.metrics import f1_score

In [220]:
y_test.shape

(8650,)

In [62]:
cl_sc = f1_score(y_test,  svm_pred)

ValueError: Found input variables with inconsistent numbers of samples: [7208, 12357]

In [ ]:
# from sklearn.metrics import f1_score

In [ ]:
# f1score = f1_score(y_test, knn_pred)

In [ ]:
print(f1score)

In [270]:
from sklearn.linear_model import LogisticRegression

In [273]:
#Instance for the logistics regression model
classifier = LogisticRegression()

In [274]:
classifier.fit(X_train, y_train) #Fitting the train set

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
log_pred = log.predict(test)

In [ ]:
sec_svm = sample_submission.copy()

In [ ]:
sec_svm.subscribed = svm_pred